#
# Test Inventory
#


#####################
# Webservers        #
#####################
[webservers]
{% for resource in resources -%}
{% for key, value in resource.iteritems() -%}
{% if not False and "service" in key %}
{{ value.primary.attributes.public_ip }} ansible_ssh_user=ubuntu
{% endif %}
{%- endfor %}
{%- endfor %}