#
# Test Inventory
#


#####################
# Webservers        #
#####################
[webservers]
{% for key, value in resources.iteritems() -%}
{% if "service" in key %}
{{ value.primary.attributes.public_ip }} ansible_ssh_user=ubuntu
{% endif %}
{%- endfor %}